<div class="jumbotron">
	<h1>About us</h1>
	<p>We are a group of everyday people working hard to bring new, useful and 
	exciting apps to the palms of your hands, click here to <%=link_to "Keep in contact with whats happening", "#", class: "btn btn-primary btn-lg" %></p>
</div>