<div class="jumbotron center">
	<h1>Welcome to Crowdsourced App builders!</h1>

	<p>
		Click here to <%= link_to "Login", "#", class: "btn btn-primary btn-lg" %>
		Or here to <%= link_to "Sign Up and Get Involved", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>