<div class="jumbotron center">
	<h1>Our Team</h1>
	<p>Our Team is growing all the time, its open to anyone who would like to become involved. If you would like to be part of the team, simply click here to add your details and <%=link_to "Become part of the Team...", "#", class: "btn btn-primary btn-lg" %></p>
</div>